
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">  
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" th:href="@{/styleSheet/style.css}"/>    
	    <meta charset="UTF-8" />
		<title>Regus Pharma</title>
	</head>
<body>


<!-- <div th:insert="@{fragments/header}"> </div> -->



    <div class="container" style="margin-top: 50px;">
      <h1 class="my-4">

      <div class="row">
        
	        <div class="col-lg-3 col-sm-4 text-center mb-2">
		           <a th:href="@{BusinessHead/AssignTarget}"> <img class="rounded-circle img-fluid d-block mx-auto" style="width: 200px;height: 200px;" th:src="@{businessHeadImg/target.png}" alt="">
		         <h3>
		          <small>ASSIGN SALES TARGET</small></a>
		          </h3>
	        </div>
	        <div class="col-lg-3 col-sm-4 text-center mb-2">
		          <a th:href="@{BusinessHead/ViewSale}"> <img class="rounded-circle img-fluid d-block mx-auto" style="width: 200px;height: 200px;" th:src="@{businessHeadImg/sale.png}"  alt="">
		          <h3>
		           <small>VIEW SALES </small></a>
		          </h3>
	        </div>
	        <div class="col-lg-3 col-sm-4 text-center mb-2">
		          <a th:href="@{BusinessHead/prediction}"><img class="rounded-circle img-fluid d-block mx-auto" style="width: 200px;height: 200px;"  th:src="@{businessHeadImg/prediction.png}" alt="">
		          <h3>
		            <small>VIEW SALES PREDICTIONS</small></a>
		          </h3>
	        </div>
	        <div class="col-lg-3 col-sm-4 text-center mb-4">
		          <a th:href="@{BusinessHead/AddFeedback}"><img class="rounded-circle img-fluid d-block mx-auto" style="width: 200px;height: 200px;" th:src="@{businessHeadImg/feedback.png}" alt="">
		          <h3>
		            <small>ADD FEEDBACK</small></a>
		          </h3>
	        </div>
	        <div class="col-lg-3 col-sm-4 text-center mb-4">
		         <a th:href="@{BusinessHead/IssueWarning}"><img class="rounded-circle img-fluid d-block mx-auto" style="width: 250px;height: 200px;" th:src="@{businessHeadImg/warning.png}" alt="">
		          <h3>
		          <small>ADD WARNING</small></a>
		          </h3>	          
	        </div>
	         <div class="col-lg-3 col-sm-4 text-center mb-4">
		         <a th:href="@{BusinessHead/viewWarning}"><img class="rounded-circle img-fluid d-block mx-auto" style="width: 250px;height: 200px;" th:src="@{businessHeadImg/warning.png}" alt="">
		          <h3>
		          <small>VIEW WARNING</small></a>
		          </h3>
	        </div>
	         <div class="col-lg-3 col-sm-4 text-center mb-4">
		         <a th:href="@{BusinessHead/viewFeedback}"><img class="rounded-circle img-fluid d-block mx-auto" style="width: 200px;height: 200px;" th:src="@{businessHeadImg/feedback.png}" alt="">
		          <h3>
		          <small>VIEW FEEDBACK</small></a>
		          </h3> 
	         </div>
	         <div class="col-lg-3 col-sm-4 text-center mb-4">
		         <a th:href="@{BusinessHead/viewPerformance}"><img class="rounded-circle img-fluid d-block mx-auto" style="width: 200px;height: 200px;"  th:src="@{businessHeadImg/performance.png}" alt="">
		          <h3>
		          <small>VIEW PERFORMANCE</small></a>
		          </h3>
	        </div>
		</div>
		 <div class="col-lg-3 col-sm-4 text-center mb-4">
		         <a th:href="@{BusinessHead/AddAchievedTarget}"><img class="rounded-circle img-fluid d-block mx-auto" style="width: 200px;height: 200px;" th:src="@{businessHeadImg/target.jpg}" alt="">
		          <h3>
		          <small>ADD ACHIEVED TARGET</small></a>
		          </h3>
	        </div>
	</div>
	
<!-- 	<div th:include="@{fragments/footer}"> </div> -->
</body></html>
   